:root {
  --light-base-color: hsl(195, 13%, 94%);
  --dark-base-color: hsl(195, 3%, 18%);
  --base-color: var(--light-base-color);

  --light-overlay-color: hsl(210, 4%, 90%, 0.9);
  --dark-overlay-color: hsla(195, 3%, 24%, 0.9);
  --overlay-color: var(--light-overlay-color);

  --light-container-highlight-color: hsl(219, 53%, 90%);
  --dark-container-highlight-color: hsl(164, 5%, 34%);
  --container-highlight-color: var(--light-container-highlight-color);

  --light-button-highlight-color: hsl(219, 53%, 80%);
  --dark-button-highlight-color: hsl(164, 5%, 44%);
  --button-highlight-color: var(--light-button-highlight-color);

  --dark-text-color: hsl(195, 3%, 92%);
  --light-text-color: hsl(195, 3%, 15%);

  --dark-user-message-color: hsl(195, 3%, 90%);
  --light-user-message-color: hsl(219, 53%, 90%);
  --user-message-color: var(--light-user-message-color);

  --user-text-color: var(--light-text-color);

  --dark-code-bg-color: hsl(195, 4%, 14%);
  --light-code-bg-color: hsl(195, 13%, 88%);
  --code-bg-color: var(--light-code-bg-color);

  --text-color: var(--light-text-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --base-color: var(--dark-base-color);
    --overlay-color: var(--dark-overlay-color);
    --container-highlight-color: var(--dark-container-highlight-color);
    --button-highlight-color: var(--dark-button-highlight-color);
    --bot-message-color: var(--dark-bot-message-color);
    --code-bg-color: var(--dark-code-bg-color);
    --text-color: var(--dark-text-color);
    --user-message-color: var(--dark-user-message-color);
  }
}

.App {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}

#content {
  margin: 40px 0px;
  width: 95vw;
}

h1 {
  margin: 20px 0;
  font-size: 3rem;
}

h2 {
  margin: 20px 0;
  font-size: 2.5rem;
}

h3 {
  margin: 10px 0;
  font-size: 2rem;
}

h4 {
  margin: 10px 0;
  font-size: 1.5rem;
}


button {
  border: 0;
  border-radius: 8px;
  padding: 8px 12px;
  background-color: var(--container-highlight-color);
  font-size: 1.4rem;
  color: inherit;
  transition: all 0.2s ease-out;
}

button:disabled {
  opacity: 0.4;
}