:root {
  --light-nav-color: #e4e5e6;
  --dark-nav-color: #3b3e3f;
  --light-nav-hover-color: #BECEEB;
  --dark-nav-hover-color: #65706D;
  --light-container-highlight-color : #BECEEB;
  --dark-container-highlight-color : #65706D;
  --light-button-highlight-color : #cdbed6;
  --dark-button-highlight-color : #9EB0AB;
  --user-message-color: #d8dbf2;
  --light-bot-message-color: #d8dbf2;
  --dark-bot-message-color: #65706D;
  --nav-color: var(--light-nav-color);
  --nav-hover-color: var(--light-nav-hover-color);
  --container-highlight-color: var(--light-container-highlight-color);
  --button-highlight-color: var(--light-button-highlight-color);
  --bot-message-color: var(--light-bot-message-color);
  --dark-background-color: #313435;
  --light-background-color: #eef1f2;
  --text-color: var(--dark-background-color);
}

@media (prefers-color-scheme: dark){
  :root {
    --nav-color: var(--dark-nav-color);
    --nav-hover-color: var(--dark-nav-hover-color);
    --container-highlight-color: var(--dark-container-highlight-color);
    --button-highlight-color: var(--dark-button-highlight-color);
    --bot-message-color: var(--dark-bot-message-color);
    --text-color: var(--light-background-color);
  }
}

.App {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#content {
  margin: 40px 0px;
  width: 95vw;
}

h1 {
  margin: 20px 0;
  font-size: 3.5rem;
}

h2 {
  margin: 20px 0;
  font-size: 3rem;
}

h3 {
  margin: 10px 0;
  font-size: 2.5rem;
}

h4 {
  margin: 10px 0;
  font-size: 2rem;
}


button {
  border: 0;
  border-radius: 8px;
  padding: 8px 12px;
  background-color: var(--container-highlight-color);
  font-size: 1.4rem;
  color: inherit;
  transition: all 0.2s ease-out;
}

button:disabled {
  opacity: 0.4;
}