.container {
    display: flex;
    height: 95vh; 
    align-items: stretch;
}

.pdf-container {
    flex: 1;
    background-color: var(--nav-color);
    margin: 10px 20px 0px 0px;
    padding: 1.5%;
    border-radius: calc(10px + 1.1vw);
    width: auto;
}

.pdf {
    overflow-y: auto;
    height: 92%;
}

button {
    margin: 0 1.3% 2% 0;
    border: 0;
    border-radius: calc(8px + 0.3vw);
    padding: 1.2% 1.5%;
    background-color: var(--container-highlight-color);
    font-size: calc(9px + 0.8vw);
    color: inherit;
    transition: all 0.2s ease-out;
}

button:disabled {
    opacity: 0.4;
}

.pdf-controls {
    display: flex; /* Set the container to flexbox layout */
    justify-content: space-between; /* This will place space evenly between child elements */
    align-items: center; /* This will vertically center-align child elements */
    padding: 0px; 
    box-sizing: border-box; /* This ensures that padding is included in total width */
    width: 100%; /* Set the width to 100% of its parent */
    /* Add additional styling as necessary */
}

.pdf-controls .input-page {
    margin: 0 1.3% 2% 0;
    border: 0;
    border-radius: calc(8px + 0.3vw);
    padding: 1.2% 1.5%;
    background-color: var(--container-highlight-color);
    font-size: calc(10px + 0.8vw);
    color: inherit;
    transition: all 0.2s ease-out;
    width: 10%;
    flex-grow: 1;
}

.text-container {
    flex: 1;
    background-color: var(--nav-color);
    margin: 10px 0px 0px 0px;
    background-color: var(--nav-color);
    padding: 1.5%;
    border-radius: calc(10px + 1.1vw);
    width: 60vw;
}

.pdf-container input {
    margin: 0 1.3% 2% 0;
    border: 0;
    border-radius: calc(8px + 0.3vw);
    padding: 1.2% 1.5%;
    background-color: var(--container-highlight-color);
    font-size: calc(10px + 0.8vw);
    color: inherit;
    transition: all 0.2s ease-out;
    width: 10%;
}

#hoverable:hover {
    cursor: pointer;
    background-color: var(--button-highlight-color);
}

#hoverable {
    user-select: none;
}
