.container {
    display: flex;
    height: 95vh; 
    align-items: stretch;
    gap: 20px;
}

.pdf-container {
    flex: 1;
    background-color: var(--base-color);
    margin: 10px 0px 0px 0px;
    padding: 20px;
    border-radius: 18px;
    max-width: 45%;
}

.hidden {
    height: 0 !important;
    overflow: hidden !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border: 0 !important;
}

.table-of-contents {
    transition: border 0.2s, padding 0.05s, height 0.2s ease-in-out;
    background-color: var(--base-color);
    border: 4px solid var(--container-highlight-color);
    border-top: 0px;
    box-sizing: border-box;
    border-radius: 0px 0px 8px 8px;
    padding: 10px 15px;
    font-size: 1.2rem;
    overflow: auto;
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.toc-item {
    padding: 8px 12px 8px 24px;
}

.toc-highlight {
    background-color: var(--container-highlight-color);
    border-radius: 8px;
}

.toc-section-header {
    opacity: 0.6;
    font-weight: bold;
    padding: 8px 12px 8px 12px;
}


.pdf {
    overflow-y: auto;
    height: 92%;
    transition: height 0.2s ease-in-out;
}


.pdf-controls {
    display: flex; /* Set the container to flexbox layout */
    justify-content: space-between; /* This will place space evenly between child elements */
    align-items: center; /* This will vertically center-align child elements */
    padding: 0px; 
    box-sizing: border-box; /* This ensures that padding is included in total width */
    width: 100%; /* Set the width to 100% of its parent */
    gap: 10px;
    padding: 6px;
    background-color: var(--container-highlight-color);
    border-radius: 8px 8px 0px 0px;
}

.jump-button {
    margin-right: 0;
}

.page-indicator {
    display: flex;
    flex-direction: row;
    font-size: 1.4rem;
    align-items: center;
    gap: 10px;
    text-wrap: nowrap;
    padding: 0px 12px;
}

.control-padding {
    flex-grow: 1;
}

.pdf-controls .input-page {
    border-radius:8px;
    padding: 6px 8px;
    background-color: var(--container-highlight-color);
    font-size: 1.4rem;
    color: inherit;
    transition: all 0.2s ease-out;
    border: 1px solid var(--text-color);
    max-width: 50px;
    flex-shrink: 1;
}

.pdf-controls .input-page::placeholder {
    color: var(--text-color);
    opacity: 0.8;
}

.page-control {
    width: 45px;
    justify-content: center;
    align-items: center;
}

.text-container {
    flex: 1;
    background-color: var(--base-color);
    margin: 10px 0px 0px 0px;
    padding: 20px;
    border-radius: 18px;
    max-width: 60%;
}

#hoverable:hover {
    cursor: pointer;
    background-color: var(--button-highlight-color);
}

#hoverable {
    user-select: none;
}
